.clients {
    .section__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        list-style: none;
        flex-basis: calc((100% - 60px) / 2);
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            flex-basis: calc((100% - 60px) / 3);
        }
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
    }
}

.clients__icon-item {
    width: calc(((100% - 30px) / 2));
    @media screen and (min-width: 768px) {
        width: calc(((100% - 60px) / 3));
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.clients__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: background-color 250ms $cubic, fill 250ms $cubic, border-color 250ms $cubic;
    @media screen and (min-width: 1200px) {
        width: 170px;
    }

    &:hover,
    &:focus {
        background-color: $primary-bg-color;
        border-color: $button-bg-color;
        fill: $button-bg-color;
    }
}
