$primary-text-color: #212121;
$secondary-text-color: #757575;
$blue-text-color: #2196f3;
$white-text-color: #ffffff;
$black-text-color: #000000;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$button-bg-color: #2196f3;
$button-portfolio-bg-color: #f5f4fa;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font: 'Roboto', sans-serif;